<section class="index-page">
  <img src={{avatar}} class="avatar"></img>
  <p class="textarea welcome">
    Hello {{name}} !
  </p>
  <a href='/user/auth.logout' class="logOut">
    Log out
  </a>
</section>